# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath
*.class

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Carpeta de música (opcional, donde pongas los .dana)
music/
*.dana

# Nunca, NUNCA subir node_modules
node_modules/
